<div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex">
        <div class="mr-auto p-2"><a href="homepage.html" class="navbar-brand d-flex align-items-center">
            <strong>WP Chocolate</strong>
        </a></div>
        <div class="p-2"><button type="button" onclick="location.href='chocolate-factory-form.html';" id="addFactoryBtn" class="btn btn-failure">
            Add factory
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='workers.html';" id="workersBtn" class="btn btn-failure">
            Workers
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='chocolates.html';" id="chocolatesBtn" class="btn btn-failure">
            Chocolates
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='chocolate-stock.html';" id="chocolateStockBtn" class="btn btn-failure">
            Chocolate stock
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='buyer-profile.html';" id="buyerProfileBtn" class="btn btn-failure">
            Personal orders
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='orders.html';" id="ordersBtn" class="btn btn-failure">
            Orders
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='rate-factories.html';" id="rateFactoriesBtn" class="btn btn-failure">
            Rate factories
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='unapproved-comments.html';" id="unapprovedCommentsBtn" class="btn btn-failure">
            Comments
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='registered-users.html';" id="usersBtn" class="btn btn-success">
            Registered users
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='profile.html';" id="profileBtn" class="btn btn-success">
            Profile
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='login.html';" id="loginBtn" class="btn btn-success">
            Login
        </button></div>
        <div class="p-2"><button type="button" onclick="location.href='register.html';" id="registrationBtn" class="btn btn-failure">
            Registration
        </button></div>
        <div class="p-2"><button type="button" id="logoutBtn" class="btn btn-failure">
            Logout
        </button></div>
    </div>
</div>